<form action="answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="answer" aria-describedby="button-addon2">
    <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Ask">
  </div>
</form>
